src/conf/xml-resources/web-service-references/UserWS/wsdl/localhost_13797/UserService/UserWS.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://UserWS/" xmlns:ns1="http://xml.netbeans.org/schema/userXmlSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://UserWS/">

<xs:import namespace="http://xml.netbeans.org/schema/userXmlSchema" schemaLocation="http://localhost:13797/UserService/UserWS?xsd=1"/>

<xs:element name="BuyUserShare" type="tns:BuyUserShare"/>

<xs:element name="BuyUserShareResponse" type="tns:BuyUserShareResponse"/>

<xs:element name="CreateUser" type="tns:CreateUser"/>

<xs:element name="CreateUserResponse" type="tns:CreateUserResponse"/>

<xs:element name="FileNotFoundException" type="tns:FileNotFoundException"/>

<xs:element name="ListUserShares" type="tns:ListUserShares"/>

<xs:element name="ListUserSharesResponse" type="tns:ListUserSharesResponse"/>

<xs:element name="SellUserShare" type="tns:SellUserShare"/>

<xs:element name="SellUserShareResponse" type="tns:SellUserShareResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="BuyUserShare">
<xs:sequence>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="companySymbol" type="xs:string" minOccurs="0"/>
<xs:element name="companyName" type="xs:string" minOccurs="0"/>
<xs:element name="noOfShares" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuyUserShareResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListUserShares">
<xs:sequence>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ListUserSharesResponse">
<xs:sequence>
<xs:element name="return" type="ns1:companyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateUser">
<xs:sequence>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateUserResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SellUserShare">
<xs:sequence>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="companyName" type="xs:string" minOccurs="0"/>
<xs:element name="companySymbol" type="xs:string" minOccurs="0"/>
<xs:element name="noOfShares" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SellUserShareResponse">
<xs:sequence>
<xs:element name="return" type="ns1:companyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>