web/WEB-INF/wsdl/localhost_13797/UserService1/UserWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://UserWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://UserWS/" name="UserWS">
<types>
<xsd:schema>
<xsd:import namespace="http://xml.netbeans.org/schema/userXmlSchema" schemaLocation="http://localhost:13797/UserService1/UserWS?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://UserWS/" schemaLocation="http://localhost:13797/UserService1/UserWS?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ModuleWebServices/" schemaLocation="http://localhost:13797/UserService1/UserWS?xsd=3"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="ListUserShares">
<part name="parameters" element="tns:ListUserShares"/>
</message>
<message name="ListUserSharesResponse">
<part name="parameters" element="tns:ListUserSharesResponse"/>
</message>
<message name="CreateUser">
<part name="parameters" element="tns:CreateUser"/>
</message>
<message name="CreateUserResponse">
<part name="parameters" element="tns:CreateUserResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="BuyUserShare">
<part name="parameters" element="tns:BuyUserShare"/>
</message>
<message name="BuyUserShareResponse">
<part name="parameters" element="tns:BuyUserShareResponse"/>
</message>
<message name="IOException_Exception">
<part xmlns:ns1="http://ModuleWebServices/" name="fault" element="ns1:IOException"/>
</message>
<message name="MalformedURLException_Exception">
<part xmlns:ns2="http://ModuleWebServices/" name="fault" element="ns2:MalformedURLException"/>
</message>
<message name="ProtocolException_Exception">
<part xmlns:ns3="http://ModuleWebServices/" name="fault" element="ns3:ProtocolException"/>
</message>
<message name="SellUserShare">
<part name="parameters" element="tns:SellUserShare"/>
</message>
<message name="SellUserShareResponse">
<part name="parameters" element="tns:SellUserShareResponse"/>
</message>
<message name="GetUserCurrency">
<part name="parameters" element="tns:GetUserCurrency"/>
</message>
<message name="GetUserCurrencyResponse">
<part name="parameters" element="tns:GetUserCurrencyResponse"/>
</message>
<message name="CheckUserExists">
<part name="parameters" element="tns:CheckUserExists"/>
</message>
<message name="CheckUserExistsResponse">
<part name="parameters" element="tns:CheckUserExistsResponse"/>
</message>
<message name="GetUserAmount">
<part name="parameters" element="tns:GetUserAmount"/>
</message>
<message name="GetUserAmountResponse">
<part name="parameters" element="tns:GetUserAmountResponse"/>
</message>
<portType name="UserWS">
<operation name="hello">
<input wsam:Action="http://UserWS/UserWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://UserWS/UserWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="ListUserShares">
<input wsam:Action="http://UserWS/UserWS/ListUserSharesRequest" message="tns:ListUserShares"/>
<output wsam:Action="http://UserWS/UserWS/ListUserSharesResponse" message="tns:ListUserSharesResponse"/>
</operation>
<operation name="CreateUser">
<input wsam:Action="http://UserWS/UserWS/CreateUserRequest" message="tns:CreateUser"/>
<output wsam:Action="http://UserWS/UserWS/CreateUserResponse" message="tns:CreateUserResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://UserWS/UserWS/CreateUser/Fault/FileNotFoundException"/>
</operation>
<operation name="BuyUserShare">
<input wsam:Action="http://UserWS/UserWS/BuyUserShareRequest" message="tns:BuyUserShare"/>
<output wsam:Action="http://UserWS/UserWS/BuyUserShareResponse" message="tns:BuyUserShareResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://UserWS/UserWS/BuyUserShare/Fault/FileNotFoundException"/>
<fault message="tns:IOException_Exception" name="IOException_Exception" wsam:Action="http://UserWS/UserWS/BuyUserShare/Fault/IOException_Exception"/>
<fault message="tns:MalformedURLException_Exception" name="MalformedURLException_Exception" wsam:Action="http://UserWS/UserWS/BuyUserShare/Fault/MalformedURLException_Exception"/>
<fault message="tns:ProtocolException_Exception" name="ProtocolException_Exception" wsam:Action="http://UserWS/UserWS/BuyUserShare/Fault/ProtocolException_Exception"/>
</operation>
<operation name="SellUserShare">
<input wsam:Action="http://UserWS/UserWS/SellUserShareRequest" message="tns:SellUserShare"/>
<output wsam:Action="http://UserWS/UserWS/SellUserShareResponse" message="tns:SellUserShareResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://UserWS/UserWS/SellUserShare/Fault/FileNotFoundException"/>
<fault message="tns:IOException_Exception" name="IOException_Exception" wsam:Action="http://UserWS/UserWS/SellUserShare/Fault/IOException_Exception"/>
<fault message="tns:MalformedURLException_Exception" name="MalformedURLException_Exception" wsam:Action="http://UserWS/UserWS/SellUserShare/Fault/MalformedURLException_Exception"/>
<fault message="tns:ProtocolException_Exception" name="ProtocolException_Exception" wsam:Action="http://UserWS/UserWS/SellUserShare/Fault/ProtocolException_Exception"/>
</operation>
<operation name="GetUserCurrency">
<input wsam:Action="http://UserWS/UserWS/GetUserCurrencyRequest" message="tns:GetUserCurrency"/>
<output wsam:Action="http://UserWS/UserWS/GetUserCurrencyResponse" message="tns:GetUserCurrencyResponse"/>
</operation>
<operation name="CheckUserExists">
<input wsam:Action="http://UserWS/UserWS/CheckUserExistsRequest" message="tns:CheckUserExists"/>
<output wsam:Action="http://UserWS/UserWS/CheckUserExistsResponse" message="tns:CheckUserExistsResponse"/>
</operation>
<operation name="GetUserAmount">
<input wsam:Action="http://UserWS/UserWS/GetUserAmountRequest" message="tns:GetUserAmount"/>
<output wsam:Action="http://UserWS/UserWS/GetUserAmountResponse" message="tns:GetUserAmountResponse"/>
</operation>
</portType>
<binding name="UserWSPortBinding" type="tns:UserWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListUserShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="BuyUserShare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException_Exception">
<soap:fault name="IOException_Exception" use="literal"/>
</fault>
<fault name="MalformedURLException_Exception">
<soap:fault name="MalformedURLException_Exception" use="literal"/>
</fault>
<fault name="ProtocolException_Exception">
<soap:fault name="ProtocolException_Exception" use="literal"/>
</fault>
</operation>
<operation name="SellUserShare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException_Exception">
<soap:fault name="IOException_Exception" use="literal"/>
</fault>
<fault name="MalformedURLException_Exception">
<soap:fault name="MalformedURLException_Exception" use="literal"/>
</fault>
<fault name="ProtocolException_Exception">
<soap:fault name="ProtocolException_Exception" use="literal"/>
</fault>
</operation>
<operation name="GetUserCurrency">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CheckUserExists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetUserAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserWS">
<port name="UserWSPort" binding="tns:UserWSPortBinding">
<soap:address location="http://localhost:13797/UserService1/UserWS"/>
</port>
</service>
</definitions>