web/WEB-INF/wsdl/localhost_13797/UserService1/UserWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://xml.netbeans.org/schema/userXmlSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/userXmlSchema">

<xs:complexType name="companyType">
<xs:sequence>
<xs:element name="companyName" type="xs:string"/>
<xs:element name="companySymbol" type="xs:string"/>
<xs:element name="sharesPurchased" type="xs:int"/>
<xs:element name="share_price" type="tns:priceType"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="priceType">
<xs:sequence>
<xs:element name="value" type="xs:float"/>
<xs:element name="last_update" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>